<div class="kk_modal_container" >
  <div class="kk_modal">
    <div class="kk_modal_body" x-ng-hide="orderSuccess" x-ng-form="order_form">
      Ваше Имя: <input x-ng-model="order.name" name="name" type="text" required=""/><br/>
      <span x-ng-show="showErrors && order_form.name.$invalid">введите имя</span><br/>
      Ваш моб. тел.: <input x-ng-model="order.phone" name="phone" type="text" required=""/><br/>
      <span x-ng-show="showErrors && order_form.phone.$invalid">введите моб. тел.</span><br/>
      <div id="grecaptchaContainer"></div>

      <button x-ng-disabled="!isRecaptchaDone" x-ng-click="addOrderClick()">Заказать обратный звонок</button>
      <button x-ng-click="hideModal()">Позже</button>
    </div>
    <div class="kk_modal_body" x-ng-show="orderSuccess">
      Спасибо за заказ звонка. Наш оператор перезвонит вам.<br/>
      <button x-ng-click="hideModal()">Ok</button>
    </div>
  </div>
</div>