<div x-ng-controller="OrderCtrl" x-ng-init="init()">
  <h1>Сайт, реклама услуг, и прочее</h1>
  <p>Текст, баннеры, блоки и другое</p>
  <button x-ng-click="newOrderClick()">Оформить заказ</button>

    <ng-view></ng-view>

</div>
