<!DOCTYPE html>
<html>
<head>
  <title>HighWorks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/recaptcha/api.js?onload=onReCaptchaLoad&render=explicit'></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body x-ng-app="high_worker">

<%= yield %>

</body>
</html>
